

@media (max-width: 768px) {
    .main-container {
        max-width: 100%;
        padding: 15px;
    }

    button {
        width: 70px;
        padding: 12px 0;
        font-size: 16px;
    }

    .display {
        font-size: 35px;
        height: 80px;
        padding: 15px;
    }

    .switch {
        width: 4rem;
        height: 1.3rem;
    }

    .switch::after {
        width: 1rem;
        height: 1rem;
    }

    .toggle-1::after {
        transform: translateX(1.4rem);
    }

    .toggle-2::after {
        transform: translateX(2.8rem);
    }
}

/* Media query for mobile screens */
@media only screen and (max-width: 600px) {
    .main-container {
        padding: 10px;
        gap: 10px;
    }

    .header {
        font-size: 18px;
    }

    .display {
        height: 70px;
        font-size: 28px;
        padding: 10px;
    }

    button {
        margin: 5px;
        width: 60px;
        font-size: 16px;
    }

    .switch {
        width: 3.5rem;
        height: 1.2rem;
    }

    .switch::after {
        width: 1rem;
        height: 1rem;
        transform: translateX(0);
    }

    .toggle-1::after {
        transform: translateX(1.3rem);
    }

    .toggle-2::after {
        transform: translateX(2.5rem);
    }

    .reset-equal {
        flex-direction: column;
        gap: 10px;
    }

    .equal, #btn {
        width: 100%;
    }
}

/* Media query for tablets and small desktops */
@media only screen and (min-width: 600px) and (max-width: 900px) {
    button {
        width: 70px;
        font-size: 18px;
    }

    .display {
        font-size: 36px;
    }
}

@media (max-width: 480px) {
    button {
        width: 60px;
        padding: 10px 0;
        font-size: 14px;
    }
    .display {
        font-size: 30px;
        height: 70px;
        padding: 10px;
    }

    .switch {
        width: 3.5rem;
        height: 1.2rem;
    }

    .switch::after {
        width: 0.9rem;
        height: 0.9rem;
    }

    .toggle-1::after {
        transform: translateX(1.2rem);
    }

    .toggle-2::after {
        transform: translateX(2.4rem);
    }
}

@media (max-width: 360px) {
    button {
        width: 50px;
        padding: 8px 0;
        font-size: 12px;
    }

    .display {
        font-size: 25px;
        height: 60px;
    }

    .switch {
        width: 3rem;
        height: 1rem;
    }

    .switch::after {
        width: 0.8rem;
        height: 0.8rem;
    }

    .toggle-1::after {
        transform: translateX(1rem);
    }

    .toggle-2::after {
        transform: translateX(2rem);
    }
}